{% extends 'base.html' %}

{% block content %}
    <div class="row align-items-center justify-content-center">
        <h1>{% block title %} About page {% endblock %}</h1>
    </div>
    <p>
        Project is developed by <a href="https://github.com/tommasinigiovanni" target='_blank'>Giovanni Tommasini</a>.
        <br>
        The idea is inspired by <a href="https://medium.com/@dushan14/create-a-web-application-with-python-flask-postgresql-and-deploy-on-heroku-243d548335cc" target='_blank'>this excellent article</a>.
    </p>
    <p>
        You can find the code of the project <a href="https://github.com/tommasinigiovanni/bookorg" target='_blank'>HERE</a>.
    </p>
    
{% endblock %}